// @keyframes glitch-anim-2-horizontal {
// 	0% { 
// 		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
// 	}

// 	20% {
// 		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
// 	}

// 	40% {
// 		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
// 	}

// 	60% {
// 		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
// 	}

// 	80% {
// 		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
// 	}

// 	100% {
// 		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
// 	}
// }

@keyframes glitch-anim-3-horizontal {
	0% { 
		clip-path: polygon(0 0, 60% 0, 60% 30%, 0 30%);
		opacity: 0.01 * random($limit: 100);	
	}
	20% {
		opacity: 0.01 * random($limit: 100);	
	}
	49% {
		clip-path: polygon(0 0, 60% 0, 60% 30%, 0 30%);
		opacity: 0.01 * random($limit: 100);	
	}
	50% {
		clip-path: polygon(30% 70%, 100% 70%, 100% 100%, 30% 100%);
		opacity: 0.01 * random($limit: 100);	
	}
	70% {
		opacity: 0.01 * random($limit: 100);	
	}
	100% {
		clip-path: polygon(30% 70%, 100% 70%, 100% 100%, 30% 100%);
		opacity: 0.01 * random($limit: 100);	
	}
}

@keyframes glitch-anim-4-horizontal {
	0% { 
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
	}

	20% {
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
	}

	40% {
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}

	60% {
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}

	80% {
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}

	100% {
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
}

@keyframes glitch-anim-flash {
	0% { 
		opacity: 0.2; 
		transform: translate3d($gap-horizontal, $gap-vertical, 0);
	}
	33%, 100% { 
		opacity: 0;
		transform: translate3d(0,0,0);
	}
}
