$image-width: 96vw;
$image-height: 92vh;
$gap-vertical: 30px;
$gap-horizontal: 40px;

// for glitched__img, first no matters
$blend: normal, hue, exclusion, difference, multiply;
$colors: #23001E, #DA3191, #653DA2, #379C74, #F60001;